.music-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .music-text {
    width: 25vw;
    margin-right: 10px;
    color: #505050;
    text-shadow: 0.5px 0.5px white;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .iframe-div {
    margin-left: 15px;
    width: 75vw;
  }
  
  .music-iframe {
    border: 0;
    left: 0;
    max-width: 100%;
  }