.nav-div {
    align-items: left;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 0;
    overflow: hidden;
    background-color: #d6a9a9;
    box-shadow: 2px 2px 5px grey;
  }
  
  .nav-text {
    color: #505050;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 0.5px 0.5px white;
  }
  .nav-bar {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  
  .nav-button {
    float: left;
    width: 120px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #bebebe;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 15px;
    border-radius: 10px;
    color: #505050;
    box-shadow: 2px 2px 5px grey;
  }
  .nav-button:active {
    color: cadetblue;
  }
  
  .nav-button:hover {
    background-color: #f5f5f4;
  }
  
  .network-div {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 8%;
    margin-bottom: 2%;
  }
  
  