
.welcome-div{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #dabb40;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 10px 10px 5px grey;
}

.navbar{
  list-style-type: none;
  padding-top: 10px;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d6a9a9;
  box-shadow: 2px 2px 5px grey;
}

.nav-button{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  background-color: rgb(136, 103, 12);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
  display: block;
  color: #f7eea0;
  box-shadow: 2px 2px 5px grey;
}
.nav-button:active{
  color: aqua;
}

.nav-button:hover{
  background-color: #3a3208;
}

.bio-div{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
  color: #f0f8ff;
  background-color: cadetblue;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.turtle-div{
  margin-top: 100px;
  margin-left: 200px;
}

.portrait-div{
  max-height: 600px;
  margin-top: 40px;
  margin-left: 100px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;

}

.bio-component{
  display: flex;
  justify-content: space-between;
}

.tech-div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app-img{
  max-width: 45%;
  margin-top: 30px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 50px;
  border: solid 2px;
  margin-left: 30%;
  margin-right: 30%;
}

.form-button{
  background-color: #b69e28;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-label{
  margin-top: 20px;
}



